h1 {
 display: block;
 text-align: center; 
}

#clearButton {
 color: #ADEEE3;
 background-color: #423E28;
 border-radius: 6px;
 font-size: 16px;
 padding: 10px 16px;
 text-align: center;
 text-decoration: none;
 border: none;
}
