@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap')

h1 {
 display: block;
 text-align: center;
 color: #f0f0f0;
 font-family: 'Montserrat', sans-serif;
}

#clearButton {
 color: #ADEEE3;
 background-color: #423E28;
 border-radius: 6px;
 font-size: 16px;
 padding: 10px 16px;
 text-align: center;
 text-decoration: none;
 border: none;
 margin-top: 100px;
}

body {
 background-color: #3b3b3b;
}
